{% extends "accounts/account_base.html" %}
{% block title %}Login{% endblock %}
{% load static %}
{% block content %}
    <div class="wrapper">
        <div class="inner">
            <form method="POST" action="{% url "login" %}">
                {% csrf_token %}
                <h3>LOGIN</h3>
                <div class="form-holder">
                    <span class="bi bi-person"></span>
                    <input type="text" name="username" placeholder="Username..." class="form-control">
                </div>
                <div class="form-holder">
                    <span class="bi bi-lock"></span>
                    <input type="password" name="password" placeholder="Password..." class="form-control">
                </div>
                <button type="submit"> Login</button>
                <div style="text-align: center; padding: 10px;">
                    <strong>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></strong>
                </div>
            </form>
            <div class="messages">
                {% for message in messages %}
                    <p id="messages" class="alert-text">{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}