<div id="addItemForm" style="display: none;">
    <form method="POST" id="addItem">
        {% csrf_token %}
        <tr>
            <td>
                <input type="text" name="item_name" class="form-control" placeholder="Enter item name...">
            </td>
            <td>
                <input type="number" name="quantity" class="form-control" placeholder="1">
            </td>
            <td>
                <input type="text" name="category" class="form-control" placeholder="Enter category">
            </td>
        </tr>
        {#        <button type="submit" form="addItem" class="btn btn-primary btn-sm btn-block">Submit</button>#}
        <td colspan="100%">
            <button type="submit" form="addItem" class="btn btn-primary btn-sm btn-block">Add Item</button>
        </td>
    </form>
</div>