{#Reference: https://docs.djangoproject.com/en/5.2/topics/pagination/#}
{#Reference(Link to Github): https://github.com/django/django/blob/stable/5.2.x/django/core/paginator.py#L333#}
{#Reference: https://docs.djangoproject.com/en/5.2/ref/paginator/#}
<div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1{% if store_filter %}&store={{ store_filter }}{% endif %}">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}{% if store_filter %}&store={{ store_filter }}{% endif %}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}
        </span>
        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}{% if store_filter %}&store={{ store_filter }}{% endif %}">next</a>
            <a href="?page={{ products.paginator.num_pages }}{% if store_filter %}&store={{ store_filter }}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>